@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

main{
    /* background-image: linear-gradient(to top left, #ebebeb, #e7e7e7); */
    background-color: #e4e4e4;
}

.container{
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 50px 320px 0 320px;
}

.container .col-left{
    /* background-color: red; */
    position: relative;
}

.container .col-left .iphone__img img{
    margin-top: -150px;
}

.container .col-left .instagram__img{
    position: absolute;
    top: 150px;
    left: 153px;
}

.col-right{
    background-color: #fafafa;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    position: relative;
}

.col-right img{
    margin-left: 30px;
    margin-bottom: -20px;
}

.col-right div{
    width: 100%;
    
}

input{
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    outline: none;
    border: none;
    /* background-color: none; */
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    font-size: 20px;
    transition: all .3s;
}

input:focus{
    border: 1px solid #333;
}


input::placeholder{
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    transition: .3s;
    padding: 5px;
}

.btn__giris{
    width: 100%;
    background-color: #B2DFFC;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 900;
}

.cizgi{
    margin-bottom: 30px;
    background-color: #fff;
    font-weight: 100;
}

.cizgi__yazisi{
    position: absolute;
    top: 333px;
    left: 170px;
    background-color: #fafafa;
    padding: 5px;
    border-radius: 50%;
}

.fa-brands{
    position: absolute;
    left: 95px;
    font-size: 20px;
}

.facebook__giris{
    display: block;
    text-align: center;
}

.sifre__unut{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.no__hesap{
    margin-top: 50px;
    text-align: center;
    /* border: 1px solid gray; */
    border-top: 1px solid gray;
    padding: 20px;
}

.no__hesap a{
    color: #0095f6;
}

.download__app{
    text-align: center;
    margin-bottom: 20px;
}

.footer{
    gap: 130px;
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

.footer a{
    color: #333;
}

.footer a:hover{
    text-decoration: underline;
}